<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="BaseViews/landingBase" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <div class="container">
        <div class="container-fluid row d-flex justify-content-center pt-5" layout:fragment="landContenido">

            <div class="col-12 row justify-content-center">
                <h1 class="fw-bolder text-white offset-2 col-7">Todos nuestros planes incluyen:</h1>
                <p class="col-6 text-white mt-4">
                    CERTIFICADO DIGITAL, TRANSMISIÓN DE NÓMINA ELECTRÓNICA, NOTAS DE AJUSTE, RECEPCIÓN DE DOCUMENTOS, FACTURACIÓN ELECTRÓNICA, PORTAL DE PAGOS Y SOPORTE PERSONALIZADO
                </p>
                <!-- Tarjeta #1 -->
                <div class="container">
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <h3 class="fw-bold textShadowCard">PLAN ECO</h3>
                                <ul class="text-white">
                                    <li>80 Creditos.</li>
                                    <li>1 año de tiempo.</li>
                                    <li>compra creditos 30Mil/Mes.</li>
                                    <li>puntos de venta Ilimitados</li>
                                    <li>usuarios Ilimitados</li>
                                </ul>
                                <h3 class="fw-bold">$110.000</h3>
                                <a href="#">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <h3 class="fw-bold textShadowCard">PLAN MID</h3>
                                <ul class="text-white">
                                    <li>120 Creditos.</li>
                                    <li>1 año de tiempo.</li>
                                    <li>compra creditos 28Mil/Mes.</li>
                                    <li>puntos de venta Ilimitados</li>
                                    <li>usuarios Ilimitados</li>
                                </ul>
                                <h3 class="fw-bold">$180.000</h3>
                                <a href="#">Comprar</a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <h3 class="fw-bold textShadowCard">PLAN PRO</h3>
                                <ul class="text-white">
                                    <li>280 Creditos.</li>
                                    <li>1 año de tiempo.</li>
                                    <li>compra creditos 22Mil/Mes.</li>
                                    <li>puntos de venta Ilimitados</li>
                                    <li>usuarios Ilimitados</li>
                                </ul>
                                <h3 class="fw-bold">$250.000</h3>
                                <a href="#">Comprar</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Tarjeta #1 -->
<!--            <div class="col-3">-->
<!--                <div class="small-box bg-light">-->
<!--                    <div class="inner">-->
<!--                        <h4> <strong>PLAN ECO</strong></h4>-->
<!--                        <ul class="fw-bold">-->
<!--                            <li>80 Creditos</li>-->
<!--                            <li>1 año de tiempo </li>-->
<!--                            <li>Descuento en creditos 30Mil/Mes</li>-->
<!--                            <li>Descuento en creditos 30Mil/Mes</li>-->
<!--                            <li>Descuento en creditos 30Mil/Mes</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                    <div class="icon">-->
<!--                    </div>-->
<!--                    <a th:href="@{/gestion}" class="small-box-footer">-->
<!--                        <h5><strong>$150.000</strong></h5>-->
<!--                        <i class="fas fa-arrow-circle-right"></i>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</body>
</html>


