<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="BaseViews/baseAdm" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">

<body>
<div layout:fragment="contenido">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 p-0">
                    <div class="card cardControlSize">
                        <div class="card-body p-0">
                            <div class="card-header bg-light">
                                <h4 class="text-center">
                                    <strong>
                                        Crear Factura
                                    </strong>
                                </h4>
                            </div>
                            <form method="post" th:object="${bill}">
                                <div class="card-body row">
                                    <div class="form-group col-8">
                                        <label for="exampleInputEmail1">Nombre Empresa</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                               placeholder=". . .">
                                    </div>
                                    <div class="form-group col-3 offset-1">
                                        <label for="exampleInputPassword1">codigo factura</label>
                                        <input type="text" class="form-control" id="" placeholder=". . . ">
                                    </div>
                                    <div class="form-group col-8">
                                        <label for="exampleInputPassword1">codigo factura</label>
                                        <input type="text" class="form-control" id="" placeholder=". . . ">
                                    </div>
                                    <div class="form-group col-4 disabled">
                                        <label for="exampleInputPassword1">Estado</label>
                                        <input type="text" class="form-control" id="" placeholder=". . . ">
                                    </div>
                                    <div class="form-group col-12 p-0 disabled">
                                        <hr>
                                    </div>

                                    <div class="form-group col-12 disabled">
                                        <div class="accordion" id="accordionExample">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="headingOne">
                                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Productos
                                                    </button>
                                                </h2>
                                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                    <div class="card-body row">
                                                        <div class="card col-12">
                                                            <div class="card-header">
                                                                #1
                                                            </div>
                                                            <div class="card-body row">
                                                                <div class="form-group col-12">
                                                                    <label for="exampleInputPassword1">Nombre de producto</label>
                                                                    <select class="form-select form-control">
                                                                        <option selected>. . .</option>
                                                                        <option value="item 1">One</option>
                                                                        <option value="item 2">Two</option>
                                                                        <option value="item 3">Three</option>
                                                                    </select>
                                                                </div>

                                                                <div class="input-group col-6">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text" id="basic-addon1">
                                                                            <i class="fa-solid fa-dollar-sign"></i>
                                                                        </span>
                                                                    </div>
                                                                    <input type="text" class="form-control" placeholder="Precio" aria-label="Username" aria-describedby="basic-addon1">
                                                                </div>
                                                                <div class="input-group col-6">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text" id="basic-addon1">
                                                                            <i class="fa-solid fa-sack-dollar"></i>
                                                                        </span>
                                                                    </div>
                                                                    <input type="text" class="form-control" placeholder="Cantidad" aria-describedby="basic-addon1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-2 offset-lg-10 offset-sm-3">
                                                            <a class="h6">
                                                                <label for="exampleInputPassword1">añadir</label>
                                                                <i class="fa-solid fa-circle-plus"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-12">
                                        <label for="floatingTextarea2">Detalles</label>
                                        <div class="form-floating">
                                            <textarea class="form-control"
                                                      placeholder="Deje aqui alguna descricion o detalle"
                                                      id="floatingTextarea2" style="height: 100px"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="col-3 btn btn-info offset-4 mb-3">
                                    <strong>Enviar</strong>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 p-0 offset-1">
                    <div class="card cardControlSize">
                        <div class="card-body p-0">
                            <div class="col-12 mt-2">
                                <div class="info-box bg-success">
                                    <span class="info-box-icon"><i class="fa-solid fa-hand-holding-dollar"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">
                                            <strong>TOTAL</strong>
                                        </span>
                                        <span class="info-box-number">0.00</span>
                                        <span class="progress-description">
                                        incluye el % del IVA
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
