<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="BaseViews/baseAdm.html" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">

<body>
<div class="container-fluid row" layout:fragment="contenido">
    <div class="col card_uno" >
        <div class="card">
            <img th:src="@{imgs/mainIMGs/lista.png}" class="card-img-top" alt="Listados"/>
            <div class="card-body">
                <h5 class="card-title">Gestion de usuarios</h5>
                <p class="card-text">Consultar y gestionar usuarios</p>
                <a href="#!" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#!" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="" class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#!" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>


