<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="BaseViews/baseAdm.html" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">

<body>
<div class="container-fluid row d-flex justify-content-center" layout:fragment="contenido">
    <!-- Tarjeta #1 -->
    <div class="col-lg-3 col-6">
        <div class="small-box bg-olive">
            <div class="inner">
                <h4> <strong>Usuarios</strong></h4>
                <p>Gestion y control de usuarios</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-user-gear"></i>
            </div>
            <a th:href="@{/gestion}" class="small-box-footer">Continuar <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- Tarjeta #2 -->
    <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
            <div class="inner">
                <h4> <strong>Facturacion</strong></h4>
                <p>Crea y gestiona tus facturas</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-file-invoice-dollar"></i>
            </div>
            <a th:href="@{/Facturacion}" class="small-box-footer">Continuar <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- Tarjeta #3 -->
    <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
            <div class="inner">
                <h4> <strong>Soporte</strong></h4>
                <p>Resuelve tus inquietudes</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-circle-question"></i>
            </div>
            <a href="#" class="small-box-footer">Continuar <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

</div>
</body>
</html>


